<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>
  <body>
    <h1>Hi I'm Augusta Ada King, Countess of Lovelace</h1>
    <img src="images/Ada-main.jpeg" width="400" height="289" />
    <p>
      (born December 10, 1815, Piccadilly Terrace, Middlesex [now in London],
      England—died November 27, 1852, Marylebone, London), English
      mathematician, an associate of Charles Babbage, for whose prototype of a
      digital computer she created a program. She has been called the first
      computer programmer.
    </p>

    <p><a href="/about">Know more about me</a></p>
    <p><a href="/quotes">My Quotes</a></p>
  </body>
</html>
