<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotes</title>
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>
  <body>
    <p><a href="/home">Go back Home</a></p>
    <h1>My Quotes</h1>

    <p>
      “That brain of mine is something more than merely mortal; as time will
      show.” </br> </p>
      
      <p>“If you can’t give me poetry, can’t you give me poetical science?” </br></p>

     <p> “I never am really satisfied that I understand anything; because,
      understand it well as I may, my comprehension can only be an infinitesimal
      fraction of all I want to understand about the many connections and
      relations which occur to me, how the matter in question was first thought
      of or arrived at…”</br></p>
      
     <p> “Religion to me is science and science is religion.”</br></p>
     <p> “The more I study, the more insatiable do I feel my genius for it to be.”</br></p>
      <p>>“Your best and wisest refuge from all troubles is in your science.” </br></p>
     <p> “The science of operations, as derived from mathematics more especially, is a
      science of itself, and has its own abstract truth and value.” </br></p>
     <p> “Imagination
      is the Discovering Faculty, pre-eminently. It is that which penetrates
      into the unseen worlds around us, the worlds of Science.”</br></p>
      <p> “Mathematical
      science shows what is. It is the language of unseen relations between
      things. But to use and apply that language, we must be able to fully to
      appreciate, to feel, to seize the unseen, the unconscious.”</br></p>
      <p>“As soon as I
      have got flying to perfection, I have got a scheme about a steam engine.”</br></p> 

    <p><a href="/about">Know more about me</a></p>
  </body>
</html>
